PORT=5000
JWT_SECRET=witme_super_secret_jwt_key_2026

# MySQL Database Configuration
MYSQL_HOST=homefaciliti.com
MYSQL_PORT=3306
MYSQL_USER=homef4fw_homefaci
MYSQL_PASSWORD=Xnj3*t%F36RDK+!
MYSQL_DATABASE=homef4fw_homefaci

# DLT SMS Gateway Configuration (SMSGATEWAYHUB)
SMSProvider=SMSGATEWAYHUB
SMS_ENTITY_ID=1201173444411453897
SMS_DLT_TEMPLATE_ID=1207173589889308632
SMS_SENDER_ID=HMFCLI
SMS_TEMPLATE_TEXT=Your OTP for registering on Superhome is: {#var#}. This code is valid for the next 10 minutes. Thank You, Super Home

# SMSGATEWAYHUB API Key (Add this variable in Render Environment Variables):
SMS_API_KEY=your_smsgatewayhub_api_key
